body{
  font-family: 'Roboto Mono', sans-serif;

  font-weight:300;

  background-color: #fff;/*#f7f9f9;*/

  border: 2vh solid #ffceaf;
}
a {
  text-decoration: none;
  color:#000;
}

a:hover {
  color:#000;
  text-decoration:none;
}
.header {
  font-family: 'Space Mono', sans-serif;
  font-weight:400;


  line-height:1.4em;



}

.header a {
  color:#ff8f68;
}

.header2{
  font-family: 'Space Mono';
  text-align:center;

}

.name a{
  border-bottom: 1.3vh solid #e8deea;
  padding: 2%;
  -moz-transition: all .2s ease-in;
    -o-transition: all .2s ease-in;
    -webkit-transition: all .2s ease-in;
    transition: all .2s ease-in;
}

.name a:hover {
  border-bottom: 1.3vh solid #fff7cb;
  padding: 2%;
}

.statement {
  font-family: 'Karla';
  font-weight: 700;
  text-align:center;
  padding:10%;
  font-size:20px;
}

.statement a {
  padding: 2%;
  border: 2px solid #fff193;
  border-radius:10px;
  text-transform: uppercase;
  letter-spacing: 1px;
  -moz-transition: all .2s ease-in;
    -o-transition: all .2s ease-in;
    -webkit-transition: all .2s ease-in;
    transition: all .2s ease-in;
}

.statement a:hover {
  padding: 2%;
  border: 2px solid #ff93ac;
}

.sidestate {
  font-family: 'Karla';
  font-weight:400;
  font-size: 20px;
  margin-top:40%;
transform: translateY(-50%);

}

.role {
  padding: 0% 5% 5% 5%;
  text-align: left;
  font-family: 'Roboto Mono';
  font-weight: 300;
  font-size: 13px;
}
.col-sm-4 ul {
  list-style: none;
  padding:0;
}

.col-sm-4 li {
  display:block;
  color: #999;
  list-style: none;
  font-family: 'Rubik';
  line-height:2em;
}

.proj {
  padding-left: 5%;
  padding-right:5%;
  padding-bottom: 3%;
}

.proj img {
  width: 100%;
  margin-bottom: 3%;
}

.proj h1 {
  font-family: 'Karla';
  font-weight: 700;
  font-size:18px;
}

.caption {
  font-size: 12px;
  font-style:italic;
  text-align:center;
  margin-bottom:4%;
}

.block1 {
  /*position:absolute;
  left:4%;
  top:5em;*/
  width:20%;
  border-bottom: 2vh solid #f0d0c6;
}

.block2 {
  float:right;
  margin-top:2.5em;
  width:20%;
  border-bottom: 2vh solid #cfe6dc;
}

.block3 {

  margin-top:1.5em;
  width:20%;
  border-bottom: 2vh solid #eedff4;
}
.about {
  margin-top:3%;
}
/*.about img {
  width:25%;
}*/

#Layer_1 {
  position:absolute;
  top:10%;
  left:57%;
}

.small {
  /*background-color:#fff;*/
  padding: 0;
  /*margin-left:2%;
  margin-right:2%;*/

  /*border-bottom: 2vh solid #d1d3ff;*/
}

.small2 {
  padding: 0;
  margin-left:5%;
}

.one {
  border-bottom: 2vh solid #fff4b8;
}

.two {
  border-bottom: 2vh solid #d0cfff;
}

.three {
  border-bottom: 2vh solid #cfe8ff;
}

.four {
  border-bottom: 2vh solid #ffec96;
}

.five {
  border-bottom: 2vh solid #ffbaf0;
}

.six {
  border-bottom: 2vh solid #ff6b6b;
}

.desc {
  /*position:absolute;
  right:10%;
  top:37%;
  width:50%;*/
  /*margin-left:10%;*/
  margin-top:8%;
  line-height:170%;
  font-family: 'Rubik';
  color:#000;
  font-weight:300;

}

.desc a {
  color:#ff8f68;
}
.logo {
  padding:20px;
}

.logo a {
  font-weight:400;
  color:#999;
}
.logo a:hover {
  color:#cf87de;
  border:none;
}
.emoji {
  display: inline !important;
	border: none !important;
	box-shadow: none !important;
	height: 1em !important;
	width: 1em !important;
	margin: 0 .07em !important;
	vertical-align: -0.1em !important;
	background: none !important;
	padding: 0 !important;
}

.desc a:hover {
  border-bottom: 2px solid #eee;
}

.videoWrapper {
	position: relative;
	padding-bottom: 56.25%; /* 16:9 */
	padding-top: 25px;
	height: 0;
}
.videoWrapper iframe {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}

.box h2 {
  font-family: 'Roboto Mono';
  font-weight:300;
  letter-spacing: 2px;
  text-transform: uppercase;
  line-height: 1.7em;
  font-size:14px;
}



h2,h3 {
  font-size: 14px;
  font-weight:300;
  letter-spacing: 2px;
  text-transform: uppercase;
  font-size:14px;
}

@media (min-width: 1200px) {
  .logo {
    font-size:22px;
  }
  .header{
    font-size:4vh;

  }
  .box {
    margin-left:-15%; margin-top:40%;
    width:92%;
  }
  .box3 {
    margin-left:-15%; margin-top:40%; width:92%;
  }
  .box2 {
    margin-left:10%;
    margin-top:40%;
    width:92%;
  }


  .desc {
    font-size:17px;
  }
  .about{
    padding: 50px;
  }

  .about {
    margin-bottom:10px;
  }
  .block3 {
    margin-bottom:80px;
  }
  .text {
    text-align:left;
  }
  .text h1 {
    font-size:18px;
    margin-bottom:0;
  }

  .text h2 {
    font-size:12px;
    margin-top:5px;
  }

  .test li{
  display:inline-block;
  }

.row {
  margin-top:5%;

}
.hover-up {
  margin-top:0px;
}
}

.projhover a .projtext h1{
  color:#000;
}

.projhover a:hover .projtext h1{
  color:#999;
}

@media (max-width: 575px) {
  .test li{
    display:block;
    margin: 5%;
  }
  .test {
    text-align:center;
  }
  .header {
    font-size:25px;

  }
  .about{
    padding: 50px;
  }
  .box, .box3 {
width:100%;
  }
  .box2 {

    width:100%;
  }
  .navbar-brand {
    padding-top:50px;
  }
  .desc {
    font-size:14px;
    margin-bottom:45px;
  }

  .text h1 {
    font-size:18px;
    margin-bottom:0;
  }

  .text h2 {
    font-size:12px;
    margin-top:5px;
  }

  .hover-up {
    margin-top:40px;
  }

  .row {
    margin-top:0;
  }
}


@media (min-width: 576px) and (max-width: 767px) {
  .test li{
  display:inline-block;
  }
  .test {
    text-align:center;
  }
  .header {
    font-size:25px;
  }
  .about{
    padding: 50px;
  }
  .box, .box3 {
width:100%;
  }
  .box2{
    width:100%;
  }
  .desc {
    font-size:14px;
    margin-bottom:45px;
  }
  .navbar-brand {
    padding-top:50px;
  }
  .text h1 {
    font-size:18px;
    margin-bottom:0;
  }

  .text h2 {
    font-size:13px;
    margin-top:5px;
  }

  .hover-up {
    margin-top:80px;
  }

  .row {
    margin-top:0;
  }

 }


@media (min-width: 768px) and (max-width: 991px) {
  .test li{
  display:inline-block;
  }
  .header{
    font-size:4vh;
  }
  .desc {
    font-size:14px;
  }
  .text h1 {
    font-size:18px;
    margin-bottom:0;
  }

  .box {
    margin-left:-15%; margin-top:40%;
    width:100%;
  }
  .box3 {
    margin-left:-15%; margin-top:40%; width:100%;
  }
  .box2 {
    margin-left:10%;
    margin-top:40%;
    width:100%;
  }

  .text h2 {
    font-size:12px;
    margin-top:5px;
  }

  .row {
    margin-top:40px;
  }
 }


@media (min-width: 992px) and (max-width: 1199px) {
  .test li{
  display:inline-block;
  }
  .header{
    font-size:28px;
  }
  .desc {
    font-size:14px;
  }
  .text h1 {
    font-size:18px;
    margin-bottom:0;
  }
  .box {
    margin-left:-15%; margin-top:40%;
    width:100%;
  }
  .box3 {
    margin-left:-15%; margin-top:40%; width:100%;
  }
  .box2 {
    margin-left:10%;
    margin-top:40%;
    width:100%;
  }

  .text h2 {
    font-size:12px;
    margin-top:5px;
  }

  .row {
    margin-top:40px;
  }
}


.left-align {
  display: inline-block; text-align: left;
}

.left {
  position:relative;
  width: 100%;
  text-align:center;

  clear:both;
  margin-top:8em;
  display:inline-block;
}

.left img {
  max-width:70%;
  margin-left:-15%;
}



.right {
  position:relative;
  width: 100%;
  height:100%;

  display:block;

}

.hamburger {
  width:10px;
}

.white {
  background-color:#fff;
  padding: 2% 6% 0% 6%;
  margin-bottom:0%;
}

.container-fluid {
  padding: 0;
}

.container {
  padding:0;
}

.col-sm-6{
  padding:30px;
}

.work {

}
.right img {
  float:right;
  max-width:70%;
}

.left .text {
  position:absolute;
  top:40%;
  right:5%;
  width:25%;
  text-align:center;
  background-color: #fff;

  padding:2%;
}

.left .text2 {
  position:absolute;
  top:50%;
  right:10%;
  width:30%;
}


.clear {
  clear:both;
}

.right .text {
  position:absolute;
  top:50%;
  left:5%;
  width:25%;
  margin-bottom:30px;
  /*background-color:#fff;*/
  border: 8px solid #dfe0e4;
  padding:2%;
  text-align:center;
}

.text h1 {
  font-family: 'Roboto Mono';
  /*background-color: #fff6c0;*/
  font-weight: 400;
  letter-spacing: 5px;
  margin-bottom:0px;
  margin-top:0;
  display:inline-block;
  margin-bottom:2%;
  text-transform: uppercase;
  color:#000;
}

/*.text h2 {
  display:inline-block;
  font-family: 'Roboto Mono';
  letter-spacing:2px;
  font-weight:300;
  margin-bottom:5%;
  text-transform: none;
}*/


.column {

   float: left;
   width: 33.33%;
}

p {
  font-family: 'Rubik';
  font-weight:300;
  font-size:15px;
  line-height: 1.7em;
  color:#999;
}

.text p {
  color:#000;
}

.footer {
  padding:5% 10% 7% 10%;
  /*background-color: #fff;*/
  margin-top:1%;
  width: 100%;

}
a {
  -moz-transition: all .2s ease-in;
    -o-transition: all .2s ease-in;
    -webkit-transition: all .2s ease-in;
    transition: all .2s ease-in;
}
a:hover {
  border-bottom: 1px solid #ede;
  padding-bottom:2px;
}

.footer a {
  color:#999;
  border-bottom: 2px solid #eee;
  padding-bottom: 3px;
  -moz-transition: all .2s ease-in;
    -o-transition: all .2s ease-in;
    -webkit-transition: all .2s ease-in;
    transition: all .2s ease-in;
}

.footer a:hover {
  border-bottom: 2px solid #999;
}
/* Clear floats after the columns */
/*.row:after {
   content: "";
   display: table;
   clear: both;
}*/
b, strong {
  font-weight:400;
  color:#000;

}
.nav {
  text-transform: uppercase;
  letter-spacing: 3px;
  font-family: 'Rubik';

}

.test {
  text-transform: uppercase;
  letter-spacing: 3px;
  font-family: 'Rubik';
}

.test li {
  list-style:none;
  margin-left:15px;
  margin-right:15px;
}

.test a {
  border-bottom: 3px solid #eee;
  padding-bottom: 4px;
  -moz-transition: all .2s ease-in;
    -o-transition: all .2s ease-in;
    -webkit-transition: all .2s ease-in;
    transition: all .2s ease-in;
}

.test a:hover {
  border-bottom: 3px solid #999;
}
.line {
  width: calc(100%);
height: 1.3px;
background: black;
vertical-align: middle;
display: inline-flex;
margin-right:10px;
}

.small, .small2 h2 {
  font-family: 'Rubik';
  text-transform: uppercase;
  letter-spacing: 1px;
  color:#999;

  font-size:11px;
  display:block;
  /*background-color:#ffe19f;*/

}
/*.sub {
  overflow: hidden;
}
.sub:after {
 background-color: #333;
 content: "";
 display: inline-block;
 height: 1px;
 position: relative;
 vertical-align: middle;
 width: 50%;
}*/

.sub h2:after {
 left: 0.5em;
 margin-right: -50%;
}

.box-shadow {
box-shadow: 0 10px 22px rgba(0,0,0,.08);
-webkit-transition: all 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);
transition: all 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);
margin-bottom: -10px;
}

.box-shadow:hover {
box-shadow: 0px 16px 22px 2px rgba(51,51,51,0.2);
}

.hover-up {
top: -20px;
-webkit-transition: all 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);
transition: all 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);
}

.hover-up:hover {
top: -30px;
-webkit-transition: all 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);
transition: all 0.6s cubic-bezier(0.165, 0.84, 0.44, 1);
}

.box {
background-color:#fff;

padding:10%;


border-bottom: 2vh solid #e5f6e6;
}

.box:hover {
  background-color: #fff;
  border-bottom: 2vh solid #ffefae;
}

.box2 {
position: relative;
background-color:#fff;

padding:10%;

z-index: 10;
border-bottom: 2vh solid #fef5de;
}

.box2:hover {
  border-bottom: 2vh solid #ffb6d1;
}

.box3 {
background-color:#fff;
padding:10%;

border-bottom: 2vh solid #fce9ea;
}

.box3:hover {
  border-bottom: 2vh solid #759fea;
}

.footer h2:after {
 background-color: #333;
 content: "";
 display: inline-block;
 height: 1px;
 position: relative;
 vertical-align: middle;
 width: 5em;
}
/*
.footer h2:after {
 left: 0.5em;
 margin-right: -50%;
}*/